@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
body{
    background-color: #333;
    color: #fff;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(alarm-clock-gfa6b9da8f_1280.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #000;
    }
nav .logo{
color: orangered;
margin-top: 10px;
font-weight: bolder;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
margin: 1rem;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    padding-bottom: 2px;
    font-size: 1.3rem;
}
nav ul li a:visited{
    color: #fff;
}
nav ul li a:hover{
    color: yellow;
    border-bottom: 2px solid white;
}
.showcase{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.showcase h1{
    margin-bottom: 20px;
    font-size: 3rem;
}
.para{
    font-size: 2rem;
}
.btns{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btns a{
    padding: 10PX;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
    transition: all 1s;
}
.btns a:hover{
    background-color: #333;
    color: #fff;
}

.btns .signin{
    background-color: yellowgreen;
    color: #000;
}


i{
    color: #fff;
    padding-right: 10px;
}


/* ABOUT PAGE */

.about-section{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    margin-bottom: 70px;
}

#about h1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    text-decoration: underline;

}

.about-img{
    width: 2000px;
}

.about-img img{
    border-radius: 20px;

}

/* Services */
.services-section{
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    margin-bottom: 70px;

    background-color: #444;
    /* color: #000; */
}

.services-section h1{
    margin-top: 70px;
    text-align: center;
    margin-bottom: 50px;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.service{
    border: 2px solid #000;
    border-radius: 20px;
    padding: 1rem;
    width: 300px;

    
}

.service h3{
    text-align: center;
    margin-bottom: 20px;
}

